body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, p, .caption {  
  margin-top: 0;
}

/*------------------------------------------------------
 * Type Contrast
 *-----------------------------------------------------*/

.type-secondary {
  opacity: 0.6;
}

.type-ghost {
  opacity: 0.3;
}

